.wishlist__table {
  justify-content: center;
  align-items: center;
  position: relative;
}
.product__wishCard {
  width: 100vh;
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.wishlistCard__name {
  width: 80vh;
  margin-left: 50px;
}
.wishlistCard__deleteButton {
  width: 4vh;
  position: absolute;
  right: 250px;
}
.totalitem__wishlist {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 250px;
  margin-bottom: 30px;
}
.wishlistCard__price {
  width: 30vh;
  position: absolute;
  margin-left: 0px;
  right: 450px;
}
.wishlistCard__totalitem {
  position: absolute;
  margin-right: 540px;
  right: 0;
}

.total__wishlist {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 250px;
}

.wishlistCard__totalprice {
  position: absolute;
  margin-right: 480px;
  right: 0;
}
.wishlistCard__clearall {
  position: absolute;
  margin-right: 200px;
  right: 0;

  /* margin-top: 20px; */
}
